<h2>Find a job</h2>
  <form action='/search/show' method="GET">
    <input type="text" name="keyword" placeholder="Job Title">
    <input type="text" name="location" placeholder="Location">
    <input type="submit">
  </form>

